/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 900px;
	margin: 0 auto;
	box-sizing: border-box;
	vertical-align: top;
}

header {
	height: 60px;
	vertical-align: top;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    align-items: center;
    width: 67%;
    justify-content: space-between;
	/* margin-top: 20px; */
	/* margin-right: 125px; */
	/* height: 35px; */
	/* vertical-align: top; */
}

header nav a {
    /* margin: 20px; */
    /* margin: 3%; */
	color: gray;
	text-decoration: none;
}

.logo {
    /* margin-top: 10px; */
    
}

.content-double {
	/* display: inline-block; */
}

.banner {
    display: flex;
    justify-content: center;
	border-bottom: 1px solid black;
}



.banner .banner-text {
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
	/* display: inline-block; */
	width: 49.5%;
	height: 400px;
	margin: 20px 0;
}

.banner .banner-text#b-text {
	padding-top: 40px;
}

.banner .banner-text h1 {
	font-size: 80px;
	/* display: inline-block; */
}

.banner .banner-text button {
	width: 170px;
	padding: 7px 0;
	font-size: 1.1em;
}

.main {
	vertical-align: top;
	display:flex;
}

.main .main-content {
	padding: 25px 10px;
}
.main .main-content {
	width: 49.5%;	
	/* display: inline-block; */
}
.content {
	display: flex;
	border-bottom: 1px solid black;
}

.pic-content .middle-img {
	padding: 10px 10px;
}

.content .content-triple {
	width: 33%;
	/* display: inline-block; */
	padding: 25px 10px;
}

.contact {
	padding: 25px 10px;
	
	
}

footer {
	text-align: center;
	margin: 20px 0;
	padding: 25px 0;
}

.address {
	margin-top: 16px;
	display:flex;

}

/* Code for Services Page */

/* Code for Top Image */
.service-image {
	display: flex;
	/* flex-direction: column; */
	padding-top: 40px;
	width:100%
	max-width: 100%;
}

.service {
	display: flex;
	padding: 20px 0px 20px 0px;
	border-bottom: 1px solid black;
}

/* Code for Services Top Text */
.service .service-content h1 {
	font-size: 20px;
	/* display: inline-block; */
}

/* Code for Main Service Offering */
.service-main{
	/* width:100% */
	
}
.service-block{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;

	
}

.service-text{
	display:flex;
	border: 1px solid black;
	flex-direction:column;
	background: lightgrey;
	padding: 20px;
	width: 47%;
	margin: 20px 0px;
}

.service-text button {
	width: 120px;
	padding: 7px 12px;
	margin:9px 5px 7px 0px;
	border-radius: 5px;
	background-color:white;


	
}


/* Code for the Facts Section */

.facts {
	display: flex;

	padding: 20px 0px;
	border-top: 2px solid black;
	justify-content:space-between;
s
	/* border-top: 1px solid black; */
}

.facts-content h1 {
	font-size: 20px;
	/* display: inline-block; */
}



.facts .facts-text {
	display:flex;
	flex-direction:column;
	/* margin: 0 auto;
	text-align: center; */
	vertical-align: top;
	/* display: inline-block; */
	width: 43%;
	/* height: 400px; */
	
}

.facts .facts-text#f-text {
	padding-top: 0px 40px;
}

.facts .facts-text h1 {
	 font-size: 20px; 
	/* display: inline-block; */
}

ul.facts-list {
	list-style-type: square;
	margin:20px; 

}
.facts-list li{
	padding:6px 8px 8px 0px;
}

/* media query 800px */
@media (max-width: 800px){



}


@media (max-width: 500px){


    
}