/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	width: 900px;
	margin: 0 auto;
	box-sizing: border-box;
    vertical-align: top;
    height: 100%;
    margin-top: 1%;
}

header {
	height: 8%;
	vertical-align: top;
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 6%; */
}

header nav {
    display: flex;
    align-items: center;
    width: 67%;
    justify-content: space-between;
    /*  */
	/* margin-top: 20px; */
	/* margin-right: 125px; */
	/* height: 35px; */
	/* vertical-align: top; */
}

header nav a {
    /* margin: 20px; */
    /* margin: 3%; */
	color: gray;
	text-decoration: none;
}

.logo {
    /* margin-top: 10px; */
    
}

.content-double {
	/* display: inline-block; */
}

.banner {
    display: flex;
    justify-content: center;
    /* border-bottom: 1px solid black; */
    align-items: center;
    padding: 5% 0;
    justify-content: space-between;
}



.banner .banner-text {
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
	/* display: inline-block; */
	width: 49.5%;
	height: 30%;
	/* margin: 3% 0; */
}

.banner .banner-image {
	margin: 0 auto;
	text-align: center;
	vertical-align: top;
	/* display: inline-block; */
	width: 49.5%;
	height: 30%;
	/* margin: 3% 0; */
}

.banner .banner-text#b-text {
	/* padding-top: 4%; */
}

.banner .banner-text h1 {
	font-size: 400%;
	/* display: inline-block; */
}

.banner .banner-text button {

	width: 170px;
    padding: 1% 0;
    margin-top: 2%;
    font-size: 1.1em;
    background-color: white;
    border-color: black;
}

.main {
	vertical-align: top;
    display:flex;
    justify-content: space-between;
    border-top: 1px solid black;

    
}

.main .main-content {
	padding: 3% 0;
}
.main .main-content {
	width: 49.5%;	
	/* display: inline-block; */
}
.content {
	display: flex;
    border-bottom: 1px solid black;
    width:100%;
    justify-content: space-between;
}

.pic-content {
    /*  padding: 1% 1%; */
    display: flex;
    max-width:100%;
}

img {
    max-width:100%;
}

.pic-content .middle-img {
	/*  padding: 1% 1%; */
}

.content .content-triple {
	width: 30%;
	/* display: inline-block; */
	padding: 2% 0;
}

.contact {
	padding: 25px 10px;
	
	
}

footer {
	text-align: center;
	margin: 20px 0;
	padding: 25px 0;
}

.address {
	margin-top: 16px;
	display:flex;

}

/* Code for Services Page */

/* Code for Top Image */
.service-image {
	display: flex;
	/* flex-direction: column; */
	padding-top: 40px;
	width:100%
	max-width: 100%;
}

.service {
	display: flex;
	padding: 20px 0px 20px 0px;
	border-bottom: 1px solid black;
}

/* Code for Services Top Text */
.service .service-content h1 {
	font-size: 20px;
	/* display: inline-block; */
}

/* Code for Main Service Offering */
.service-main{
	/* width:100% */
	
}
.service-block{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;

	
}

.service-text{
	display:flex;
	border: 1px solid black;
	flex-direction:column;
	background: lightgrey;
	padding: 2%;
	width: 47%;
	margin: 2% 0px;
}

.service-text button {
	width: 120px;
	padding: 7px 12px;
	margin:9px 5px 7px 0px;
	border-radius: 5px;
	background-color:white;


	
}


/* Code for the Facts Section */

.facts {
	display: flex;

	padding: 20px 0px;
	border-top: 2px solid black;
	justify-content:space-between;
s
	/* border-top: 1px solid black; */
}

.facts-content h1 {
	font-size: 20px;
	/* display: inline-block; */
}



.facts .facts-text {
	display:flex;
	flex-direction:column;
	/* margin: 0 auto;
	text-align: center; */
	vertical-align: top;
	/* display: inline-block; */
	width: 43%;
	/* height: 400px; */
	
}

.facts .facts-text#f-text {
	padding-top: 0px 40px;
}

.facts .facts-text h1 {
	 font-size: 20px; 
	/* display: inline-block; */
}

ul.facts-list {
	list-style-type: square;
	margin:20px; 

}
.facts-list li{
	padding:6px 8px 8px 0px;
}

/* media query 800px */
@media (max-width: 800px){
    
    /* Header Adjustment */

    .container{
        width: 90%;
        display:flex;
        flex-direction: column;
    }
    .container header {
        display: flex;
        flex-direction: column-reverse;
        /* width:   90%; */
        height: 15%;
        justify-content: space-between;
      }

      .container header nav {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 4%;
      }

      /* Banner adjustment */
    .container .banner {
        /* width: 90%; */
        justify-content: center;
        align-items: center;

       
    }
    
    .container .banner .banner-image{
        display:none;
    }

    .container .banner .banner-text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    /* Top Text adjustment */
    .container .main {
        /* width: 90%; */

    }
}


@media (max-width: 500px){
    
    
    .container{
        width: 90%;
        display:flex;
        flex-direction: column;
    }

    /* header for mobile */
    .container header {
        display: flex;
        flex-direction: column-reverse;
        width:   100%;
        height: 65%;
        /* margin:25% 0; */
        padding:4% 0;
        justify-content: space-between;
        align-items: center;

        
      }

      .container header nav {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom:3%;
        /* padding-top:0%; */
        margin:0;


        /* height: 80%; */
        /* height: 5%; */

        /* margin-top: 4%; */


        /* border-bottom: 1px solid black; */

      }

      .logo{
        max-width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom:3%;        

      }

    .container header div{
        display:flex;
        justify-content: center;
        width:100%;
        border-bottom: 1px solid black;


    }
      .container header nav a{
        display:flex;
        width:100%;
        justify-content: center;
        padding: 3% 0;
        border-bottom: 1px solid black;

      }

      /* Banner adjustment for mobile */
    .container .banner {
        /* width: 90%; */
        justify-content: center;
        align-items: center;

       
    }
    
    .container .banner .banner-image{
        display:none;
    }

    .container .banner .banner-text{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    /* Top text adjustment for mobile */
    .container .main {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        border:
    }
    .container .main .main-content{
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

/* Bottom text mobile */
    .container .content {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 2% 0;
    }
    .container .content .content-triple{
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    
}